:root{
  --blue: hsl(185, 75%, 39%);
  --navy: hsl(229, 23%, 23%);
  --gray: hsl(227, 10%, 46%);
  --light-gray: hsl(225, 10%, 92%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kumbh Sans', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:var(--navy);
    background-color: var(--blue);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: top -400px left -200px, bottom -500px right -200px;
}